.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #3498db;
  color: #fff;
  border: 1px solid #3498db;
}
